<div *ngIf="ffmpegLoaded; else loadingDiv">
  <input
    hidden="true"
    type="file"
    accept="video/*"
    (change)="setVideo($event)"
    #videoInput
  />
  <button
    mat-raised-button
    color="primary"
    [disabled]="conversionInProgress"
    (click)="videoInput.click()"
  >
    <mat-icon>publish</mat-icon>
    Upload Video File
  </button>

  <video controls [src]="videoURL" *ngIf="videoURL"></video>

  <div *ngIf="video">
    <button
      mat-raised-button
      color="accent"
      [disabled]="gifURL || conversionInProgress"
      (click)="convertToGif()"
    >
      <mat-icon>gif</mat-icon>
      Convert
    </button>

    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div id="conversion-progress" *ngIf="conversionInProgress">
    <p [textContent]="progressMessage"></p>
    <mat-progress-bar
      [mode]="progressBarMode"
      [value]="progressBarValue"
    ></mat-progress-bar>
  </div>

  <div *ngIf="gifURL">
    <a hidden="true" [href]="gifURL" [download]="gifFilename" #imageLink></a>
    <img [src]="gifURL" alt="Converted gif" />
    <button mat-raised-button (click)="imageLink.click()">
      <mat-icon>get_app</mat-icon>
      Download Gif
    </button>
  </div>
</div>

<ng-template #loadingDiv>
  <div>
    <h2>Loading FFmpeg...</h2>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
</ng-template>
