video,
img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  max-height: 300px;
}

#conversion-progress {
  margin-top: 1rem;

  > div {
    margin-bottom: 1rem;
  }

  #conversion-percentage {
    display: inline-block;
    width: 0;

    span {
      margin-left: 1rem;
    }
  }
}

#settings-div {
  display: inline-block;
  width: 0;
}
