<div class="site">
  <header>
    <h1>GIFmakr</h1>
  </header>

  <main *ngIf="ffmpegLoaded; else loading">
    <input
      hidden="true"
      type="file"
      accept="video/*"
      (change)="setVideo($event)"
      #videoInput
    />
    <button mat-raised-button color="primary" (click)="videoInput.click()">
      <mat-icon>publish</mat-icon>
      Upload Video File
    </button>

    <video controls [src]="videoURL" *ngIf="videoURL"></video>

    <button
      mat-raised-button
      color="accent"
      *ngIf="video"
      (click)="convertToGif()"
    >
      <mat-icon>gif</mat-icon>
      Convert
    </button>

    <div *ngIf="gifURL">
      <a hidden="true" [href]="gifURL" [download]="gifFilename" #imageLink></a>
      <img [src]="gifURL" alt="Converted gif" />
      <button mat-raised-button (click)="imageLink.click()">
        <mat-icon>get_app</mat-icon>
        Download Gif
      </button>
    </div>
  </main>

  <ng-template #loading>
    <h2 id="loading">Loading FFmpeg...</h2>
  </ng-template>

  <footer>&#169; Matthew Polsom</footer>
</div>
